# environment variables for use with development setup

# ---- API authentication ----
EYENED_API_SECRET_KEY=
EYENED_API_PUBLIC_AUTH_DISABLED=false
EYENED_API_DEBUG=true

# This is used by the api to write and read segmentations
# Should be accessible and writable within the server container
EYENED_API_ZARR_STORE=/path/to/segmentations.zarr 

# ---- Database  ----
MYSQL_ROOT_PASSWORD= 

EYENED_DATABASE_USER=root
EYENED_DATABASE_PASSWORD=${MYSQL_ROOT_PASSWORD}

# ---- Dev ports / routing ----
# main application entry port
DEV_NGINX_PORT=

# --optionally --
# if exposing the database on host system
DEV_DATABASE_PORT=

# only needed when using adminer
DEV_ADMINER_PORT=
